---
import BaseLayout from '../layouts/Baselayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import {projects} from '../constants/projects.ts';
import {experiences} from '../constants/experience.ts';
---

<BaseLayout>
	<section class="bg-slate-800 p-6 mt-8 rounded-lg">
		<Hero
		name="Abinadi Henr칤quez"
		image="/098A3B61-B83D-4CED-804E-A5B738D86AE3_1_105_c.jpeg"
		cargo="Desarrollador Web"
		funcion="Full Stack, Apps de escritorio"
		technologies={['/php_dark.svg','/csharp.svg','/wordpress.svg', '/DIVI 1.svg', '/react.svg', '/astro_dark.svg', '/javascript.svg','/typescript.svg','/html5.svg', '/css.svg', '/bootstrap.svg', '/tailwindcss.svg']}
		contacto={[ { text: 'Linkedin', link: 'https://www.linkedin.com/in/abinadi-henriquez/' }, { text: 'Github', link: 'https://github.com/Devon107' }, {text: 'elmerg.uam@gmail.com', link: 'mailto:elmerg.uam@gmail.com'} ]}
		/>
	</section>
	<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg grid place-content-center">
		<h2 class="text-3xl pb-4">Sobre mi</h2>
		<About
			about="Hola 游녦 mi nombre es Abinadi, soy ingeniero en Ciencias de la computaci칩n, con m치s de 5 a침os de experiencia en la creaci칩n de aplicaciones web. Especializado en JavaScript, HTML, CSS, Laravel, Astro, React y Wordpress."
		/>
	</section>
	<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg grid place-content-center">
		<h2 class="text-3xl pb-4">Experiencia laboral</h2>
		{experiences.map((exp) => (
			<Experience 
				cargo={exp.cargo}
				initial={exp.initial} 
				finish={exp.finish}
				company={exp.company}
				descript={exp.descript}
				technologies={exp.technologies}
			/>
		))}
		
	</section>
	<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg grid place-content-center">
		<h2 class="text-3xl pb-4">Ultimos proyectos</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				projects.map((project) => (
					<Projects 
						title={project.title}
						image={project.image} 
						descript={project.description} 
						button="Ver m치s" 
						url={project.url} 
					/>
				))
			}
		</div>
	</section>
</BaseLayout>