---
import BaseLayout from '../layouts/Baselayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import {projects} from '../constants/projects.ts';
import {experiences} from '../constants/experience.ts';
import {hero} from '../constants/hero.ts';
import {about} from '../constants/about.ts';
---

<BaseLayout>
	<section class="bg-slate-800 p-6 mt-8 rounded-lg md:fixed md:mt-0 md:top-0 md:left-0 md:h-full lg:w-[25%] md:w-[30%] md:rounded-none md:border-r-2 md:border-slate-600 md:overflow-y-auto">
		<Hero
		name={hero.name}
		image={hero.image}
		cargo={hero.cargo}
		funcion={hero.funcion}
		technologies={hero.technologies}
		contacto={hero.contacto}
		idioms={hero.idioms}
		/>
	</section>
	<div class="lg:ml-[26%] md:ml-[30%] md:w-[70%] lg:w-[80%]">
		<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg grid place-content-center">
			<h2 class="text-3xl pb-4">Sobre mi</h2>
			<About
				about={about}
			/>
		</section>
		<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg grid place-content-center">
			<h2 class="text-3xl pb-4">Experiencia laboral</h2>
			{experiences.map((exp) => (
				<Experience 
					cargo={exp.cargo}
					initial={exp.initial} 
					finish={exp.finish}
					company={exp.company}
					descript={exp.descript}
					technologies={exp.technologies}
				/>
			))}
			
		</section>
		<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg grid place-content-center">
			<h2 class="text-3xl pb-4">Ultimos proyectos</h2>
			<div class="grid place-content-center">
				{
					projects.map((project) => (
						<Projects 
							title={project.title}
							image={project.image} 
							descript={project.description}
							url={project.url}
							skills={project.skills}
						/>
					))
				}
			</div>
		</section>
	</div>
</BaseLayout>